.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  font-family: 'roboto';
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.start-img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.reset-img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-top: 10px;
}
.start-btn {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-style: none;
  margin-right: 10px;
}
.start-btn-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-style: none;
}
.align-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns-card {
  display: flex;
  flex-direction: row;
}

.timer-line {
  font-size: 10px;
  font-weight: bold;
}

p {
  font-weight: bold;
}

.button-count {
  background-color: transparent;
  border-style: none;
  font-weight: bold;
  font-size: 20px;
}

.p-count {
  background-color: #00d9f5;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  margin: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ppppp {
  font-size: 28px;
  color: #00d9f5;
}
.timer-card {
  background-color: white;
  color: black;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-bottom: 23px;
}
.time-card {
  display: flex;
  flex-direction: row;
  height: 80px;
}
.bhdhfhsdfhs {
  font-size: 12px;
  color: black;
  height: 10px;
}

.djladsj {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
